@import url(https://fonts.bunny.net/css?family=ubuntu:300);
@import url(https://fonts.bunny.net/css?family=rubik-dirt:400&text=Hello);

body, h2, h3, h4, p   {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Rubik Dirt', display;
}

img {
    border-radius: 10px;
    border: solid 1px rgba(255, 75, 75, 0.1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.stMarkdown iframe{
    border-radius: 2.5%;
}

button[title^=Exit]+div [data-testid=stImage]{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div[data-testid=stImage] {
    position: relative;
    opacity: 0.90;
    transition: 0.2s;
}

div[data-testid=stImage]::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 95%,#00a2ff6d 100%);
}

div[data-testid=stImage]:hover {
    opacity: 1.0;
}

a[href] {
    text-decoration: none;
    color: #00a2ff97;
}

h1 {
    font-size: 5rem;
    text-align: center;
    position: sticky;
    top: 0;
    color: #00a2ff97;
    border-bottom: 4px solid #cf409f;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.0rem;
    font-weight: bolder;
    text-align: center;
    color: #00a2ff97;
    padding-top: 0rem;
    margin-top: -1rem;
}

div[data-testid=stCaptionContainer] {
    font-size: 0.95rem;
    text-align: center;
    color: #cf409f;
}

div.stRadio {
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    opacity: 0.90;
    transition: 0.3s;
}

div.stRadio:hover {
    background-color:  #cf409f22;
    opacity: 1;
}

tbody {
    visibility: hidden;
}

table {
    border:none;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: none;
    margin-left: auto;
    margin-right: auto;
} 

p strong{
    text-align: center;
}

div[data-testid="stAppViewBlockContainer"]{
    padding-top: 0rem;
}

header[data-testid="stHeader"]{
    display: none;
}

iframe[data-testid="stIFrame"]{
    border-radius: 4%;
}

div[data-testid="stCaptionContainer"]{
    visibility: collapse;
    display: none;
}

div[data-testid="stCaptionContainer"]:hover{
    visibility: visible;
}

div[data-testid="stPopover"] button {
    line-height: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

div[data-testid="stPopover"] button:hover{
    border: #0075b8 1px solid;
}

div[data-testid="stPopover"] button:focus:not(:active){
    border: #0075b8 1px solid;
}

div[data-testid="stPopover"] button:focus{
    background-color: #0075b827;
}

div[data-testid="stPopover"] button p{
    color: #0075b8;
}

div[data-testid="stPopover"] button p:first-child{
    font-size: 1.50rem;
}