img {
    border-radius: 10px;
    border: solid 1px #dadee8;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div[data-testid=stImage] {
    position: relative;
    opacity: 0.85;
    transition: 0.3s;
}

div[data-testid=stImage]::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 95%,rgba(255, 75, 75, 0.5) 100%);
}

div[data-testid=stImage]:hover {
    opacity: 1.0;
}

a[href] {
    text-decoration: none;
    color: #ff4b4b;
}

h1 {
    font-size: 5rem;
    text-align: center;
    position: sticky;
    top: 0;
}

h2 {
    font-size: 2.0rem;
    font-weight: bolder;
    text-align: center;
    color: #ff4b4b;
}

div[data-testid=stCaptionContainer] {
    font-size: 0.95rem;
    text-align: center;
    color: #ff4b4b;
}

div.stRadio {
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    opacity: 0.90;
    transition: 0.3s;
}

div.stRadio:hover {
    background-color:  rgba(255, 75, 75, 0.2);
    opacity: 1;
}


div.stRadio::after {
    background-color: green;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* div.stRadio div[role=radiogroup] label div.st-af{
    font-size: 2rem;
} */

/* iframe {
    border-radius: 10px;
    border: solid 1px #ff4b4b;
} */

tbody {
    visibility: hidden;
}

table {
    border: none;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: none;
    margin-left: auto;
    margin-right: auto;
} 

p strong{
    text-align: center;
}